node
node_modules
target
src/main/resources/javascript/apps
src/main/resources/javascript/locales
src/main/resources/javascript/polyfills.js
src/javascript/publicPath.js
webpack.config.js
webpack-manifest.config.js
