/.classpath
/.project
/.settings
.idea
*.iml
*.ipr
target
src/main
node
node_modules
yarn-error.log
/.circleci
/.externalToolBuilders
graphql.config.json
graphql.schema.json
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.yalc
yalc.lock
coverage
